.article {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__main-heading {
        margin: 0 auto;
        width: 35%;
        margin-top: 6rem;
        align-self: center;
        font-size: 3.5rem;
        font-weight: 500;
    }

    &__image {

        width: 63%;
        margin-top: 3rem;

        img {            
            margin: 0 auto;
            width:100%;
        }

        figcaption {
            display: inline-block;
            width: 73%;
            font-size: 1.3rem;
            color: rgb(94, 94, 94);
            padding: .9rem 0;
            font-weight: 500;

            blockquote {
                display: inline-block;
                margin-bottom: -21rem;
                font-size: 1.2rem;
                color: rgb(163, 163, 163);
            }

        }
    }    

    &__img-author {
        font-size: 1.4rem;
        font-weight: 600;       

        a {
            color: black;
            text-decoration: underline;
            text-decoration-color: lightgray;

            &:hover {
                text-decoration: none;
            }
        }
        
    }

    &__main-text {
        width: 32%;
        margin-top: 3rem;
               
    }

    p {
        font-size: 1.8rem;
        padding-bottom: 1.8rem;
        line-height: 2.7rem;

        a {

            color: #326891;

            &:link,
            :visited {
                color: #326891;
            }

            &:hover,
            :active {
                text-decoration: none;
            }
        }
    }
}


.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    &__date {
        font-size: 1.2rem;
    }

    &__items {

        a {
            color: transparent;
            padding: 0 .7rem;
        }

        svg {
            width: 2.5em;
            height: 2.5rem;
            background-color: #eeeeee;
            border-radius: 50%;
            padding: .5rem;

            &:hover {
                background-color: white;
                border: 1px solid rgb(209, 208, 208);
            }
        }
    }
}